@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-gray-50 text-gray-900;
}

input:focus,
select:focus,
textarea:focus {
  @apply outline-none ring-2 ring-blue-500 ring-offset-0;
}
